<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tienda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Manguera flexible para Gas</ion-card-title>
      <ion-card-subtitle style="color: rgb(255, 0, 0)">$ 55.00 MXN</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Mangueras flexibles para gas 5/16" x 5/16".
    </ion-card-content>
  </ion-card>
</ion-content>
