<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
      Reyy Gas 
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-text>
    <br>
    <p style="font-size: 39px; font-family:Athletic Outfit; text-align: center">Reyy Gas</p>
    <div style="color: rgb(134, 74, 24); font-size: 32px; font-family:impact;">
      <p>¡Hola!olaojaahiahaoishi</p>
     <p style="color: rgb(15, 15, 15); font-size: 18px; font-family:arial;">
       <strong>Hoy el precio del litro es: $</strong> 
     </p>
     <ion-img
     src="../../assets/reyy01.png"
     width="10%"
     height="30%"></ion-img>
    </div>
  </ion-text>
  <!-- <ion-buttons slot="end"> -->
    <ion-button fill="solid" shape="round">
        Nuevo Pedido
    <ion-icon slot="end" name="add-circle"></ion-icon>
    </ion-button>
  <!-- </ion-buttons> -->
  <!-- <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="solid" shape="round" size="large">
          Nuevo Pedido
      <ion-icon slot="end" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>  -->
 <!-- Objetivos -->
  <ion-card style="color: #D5D1D6">
    <ion-card-header>
      <ion-card-title style="color: rgb(134, 74, 24); font-size: 30px; font-family:Athletic Outfit; text-align: center">Objetivos</ion-card-title>
    </ion-card-header>
   <ion-card-content style="text-align: justify; color: #000000">
    Gestionar los servicios que brinda la empresa Reyy Gas con la finalidad de aumentar la productividad y tener mayor eficiencia para nuestros clientes.
    </ion-card-content>
  </ion-card>

  <!-- Misión -->
 <ion-card style="color: #D5D1D6">
    <ion-card-header>
      <ion-card-title style="color: rgb(134, 74, 24); font-size: 30px; font-family:Athletic Outfit; text-align: center">Misión</ion-card-title>
    </ion-card-header>
   <ion-card-content style="text-align: justify; color: #000000">
    Satisfacer las necesidades de suministro de gas lp de todos nuestros clientes, así como brindar servicios de valor agregado en cada carga, además de generar mas fuentes de empleo.
  <ion-icon slot="right" size="large" name="arrow-forward-circle" style="color:rgb(138, 135, 135)"></ion-icon>   
  </ion-card-content>
    
  </ion-card>

  <!-- Visión -->
 <ion-card style="color: #D5D1D6">
    <ion-card-header>
      <ion-card-title style="color: rgb(134, 74, 24); font-size: 30px; font-family:Athletic Outfit; text-align: center">Visión</ion-card-title>
    </ion-card-header>
   <ion-card-content style="text-align: justify; color: #000000">
    Mediano Plazo; ser la empresa numero uno en todo el territorio nacional en la distribución de gas lp, Largo Plazo; Ser la empresa #1 a nivel mundial en distribución de gas lp.
     
  </ion-card-content>
  </ion-card>

  <!-- Recetas -->
 <ion-card style="color: #D5D1D6">
    <ion-card-header>
      <ion-card-title style="color: rgb(134, 74, 24); font-size: 30px; font-family:Athletic Outfit; text-align: center">Recetas</ion-card-title>
    </ion-card-header>
   <ion-card-content style="text-align: justify; color: #000000">
    Mediano Plazo; ser la empresa numero uno en todo el territorio nacional en la distribución de gas lp, Largo Plazo; Ser la empresa #1 a nivel mundial en distribución de gas lp.
      <!-- <ion-icon slot="start" name="arrow-forward-circle"></ion-icon>   -->
  </ion-card-content>
  </ion-card>

  <!-- <ion-infinite-scroll>
    <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

</ion-content>

